header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  font-size: 4rem;
}

main {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.dropdown-section {
  margin: 10px;
}

.food-image {
  height: 250px;
  width: 250px;
}

.special-instructions {
  margin: 15px;
}

.instructions-list {
  border: 1px solid red;
  padding: 10px;
}